header {
  display: flex;
  flex-direction: row wrap;
  padding: 5px;
  height: 80px;
  margin-right: auto;
  margin-left: auto;
  width: 94%;

  .left {
    flex-basis: 70%;

    img {
      width: 100px;
    }
  }
  .right {
    flex-basis: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .link {
      font-family: "Roboto", sans-serif;
      text-decoration: none;
      color: black;
      font-weight: 400;
      margin-left: 50px;
    }

    .link:hover {
      color: #f9b500;
    }
  }
}
