$mobile: 300px;
$ipad: 768px;
$bigScreen: 1440px;

@mixin big-screen {
  @media (min-width: #{$bigScreen}) {
    @content;
  }
}
@mixin ipad {
  @media (max-width: #{$ipad}) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@mixin firefox-only {
  @at-root {
    @-moz-document url-prefix() {
      & {
        @content;
      }
    }
  }
}

.auth {
  display: flex;
  flex-flow: row wrap;
  padding: 5px 15px;
  background: url("../assets/curved.jpeg") no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 99vh;
  height: auto;
  justify-content: space-between;

  .side {
    width: 46%;
    padding-left: 45px;
    display: block;
    margin-top: 20px;
    padding-top: 30px;
    color: #fff;

    @include big-screen() {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      margin-top: -100px;
    }

    .img-link {
      display: block;
      width: 200px;

      @include ipad() {
        width: max-content;
        width: auto;
      }

      img {
        width: 150px;
        margin-left: 10px;

        @include ipad() {
          width: 200px;
          text-align: center;
          padding-left: 0;
          margin-left: 0;
        }

        @include mobile() {
          width: 200px;
          text-align: center;
          padding-left: 0;
        }
      }
    }

    h3 {
      font-size: 2.7rem;
      padding: 5px;
      margin-left: 2px;
      font-family: "Roboto", sans-serif;
      letter-spacing: 1px;
      font-weight: 300;
      width: 500px;

      @include ipad() {
        font-size: 0.8rem;
        padding: 2px;
        line-height: 22px;
        color: #000;
        width: auto;
      }
    }

    div {
      &.text1 {
        display: block;
        padding: 5px;
        font-family: "Roboto", sans-serif;
        letter-spacing: 1px;
        font-size: 1.5rem;
        width: 260px;
        overflow: hidden;
        white-space: nowrap;
        margin-top: 20px;

        @include ipad() {
          display: none;
          color: #000;
        }

        em {
          margin-left: 5px;
        }
      }

      &.text2 {
        display: block;
        padding: 5px;
        font-family: "Roboto", sans-serif;
        letter-spacing: 1px;
        font-size: 1.5rem;
        width: 340px;
        overflow: hidden;
        white-space: nowrap;
        margin-top: 20px;
        @include mobile() {
          display: none;
          color: #000;
        }
        em {
          margin-left: 5px;
        }
      }
    }

    @include ipad() {
      text-align: center;
      height: 320px;
      width: auto;
      padding: 2px;
    }

    @include mobile() {
      height: 320px;
      margin-top: 5px;
      text-align: center;
    }
  }

  .reg-form {
    padding: 20px 60px 0 60px;
    margin-top: 40px;
    width: 46%;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    .first-wrapper {
      display: flex;
      justify-content: space-between;
      @include ipad() {
        display: block;
        text-align: center;
      }
    }

    form {
      padding: 5px;
      padding-left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      h3 {
        color: red;
        font-family: "Roboto", sans-serif;
        letter-spacing: 1px;
      }
      .w-40 {
        flex-basis: 48%;
        text-align: left;
        margin-bottom: 10px;
        @include ipad() {
          text-align: center;
          width: 100%;
        }

        label {
          font-family: "Roboto", sans-serif;
          font-size: 14px;
          letter-spacing: 1px;
          display: block;
          padding: 5px;
          margin-bottom: 5px;
        }

        input[type="text"] {
          border: 1px solid #f0f0f0;
          background: #f6f6f6;
          padding: 5px;
          border-radius: 5px;
          height: 30px;
          width: 100%;
          box-sizing: border-box;
          outline: none;
          transition: border 0.6s;
          font-family: "Roboto", sans-serif;

          &.border-red {
            border: 1px solid red;
          }

          @include ipad() {
            width: 100%;
            font-size: 16px;
          }

          @include mobile() {
            width: 100%;
            font-size: 16px;
          }
        }
      }

      .w-80 {
        flex-basis: 100%;
        text-align: left;
        margin-bottom: 10px;
        width: 100%;

        label {
          font-family: "Roboto", sans-serif;
          font-size: 14px;
          letter-spacing: 1px;
          display: inline-block;
          padding: 5px;
          margin-bottom: 5px;
        }
        em {
          float: right;
          font-size: 12px;
          font-family: "Roboto", sans-serif;
          margin-top: 5px;
          letter-spacing: 1px;
          color: gray;

          @include ipad() {
            display: none;
          }
        }
        input[type="email"],
        input[type="password"] {
          border: 1px solid #f0f0f0;
          background: #f6f6f6;
          padding: 5px;
          border-radius: 5px;
          width: 100%;
          height: 30px;
          outline: none;
          transition: border 0.6s;
          font-family: "Roboto", sans-serif;
          box-sizing: border-box;
          &.border-red {
            border: 1px solid red;
          }

          @include ipad() {
            width: 100%;
            font-size: 16px;
          }

          @include mobile() {
            width: 100%;
            font-size: 16px;
          }
        }
        &.pas {
          margin-top: 15px;
        }
        @include ipad() {
          text-align: center;
          width: 100%;
          display: block;
        }
      }

      .w-80.sel {
        flex-basis: 100%;
        text-align: left;
        margin-top: 15px;
        width: 100%;

        label {
          font-family: "Roboto", sans-serif;
          font-size: 14px;
          letter-spacing: 1px;
          display: inline-block;
          padding: 5px;
          margin-bottom: 5px;
        }

        select {
          width: 100%;
          border: 1px solid #f0f0f0;
          background: #f6f6f6;
          padding: 5px;
          border-radius: 5px;
          height: 50px;
          outline: none;
          transition: border 0.6s;
          font-family: "Roboto", sans-serif;
          @include ipad {
            font-size: 16px;
          }

          @include mobile() {
            font-size: 16px;
          }
        }
        @include ipad {
          text-align: center;
          width: 100%;
        }
      }

      input[type="email"]:focus,
      input[type="text"]:focus,
      input[type="password"]:focus,
      select:focus {
        border: 1px solid #158a9e;
      }

      .w-80 {
        flex-basis: 100%;
        text-align: left;
        margin-bottom: 10px;
        width: 100%;

        button {
          width: 100%;
          background: #f9b500;
          padding: 10px 15px;
          border-radius: 5px;
          margin-bottom: 15px;
          margin-top: 23px;
          outline: none;
          transition: border 0.6s;
          border: none;
          height: 50px;
          letter-spacing: 1px;
          font-family: "Roboto", sans-serif;
          border: 1px solid #f9b500;
          cursor: pointer;
          transition: all 0.05s ease-in-out;
          .fas {
            margin-left: 5px;
            font-size: 16px;
            animation: spin 2s linear infinite;
          }
        }

        button:hover {
          background-color: transparent;
          color: #000;
          border: 2px solid #f9b500;
        }
        @include ipad() {
          text-align: center;
        }
      }

      .w-80 {
        flex-basis: 100%;
        // text-align: left;
        margin-bottom: 10px;

        @include mobile {
          text-align: center;
        }

        &.back {
          padding: 10px;
          letter-spacing: 1px;
          font-family: "Roboto", sans-serif;

          .link {
            color: #f9b500;
          }
        }
      }

      @include ipad() {
        display: block;
        padding-left: 2px;
        text-align: center;
        .w-40,
        .w-80 {
          width: 100%;
        }
      }
    }

    @include ipad() {
      text-align: center;
      padding-top: 5px;
      width: auto;
      margin-top: 0px;
      display: block;
    }
    @include mobile() {
      text-align: center;
      padding-top: 5px;
      width: auto;
      margin-top: 0px;
      display: block;
    }
  }

  @include ipad() {
    text-align: center;
    display: block;
    background-image: none;
  }
  @include mobile() {
    background-image: none;
    display: block;
    padding: 10px 5px 0 0;
    text-align: center;
  }
}
.error {
  color: darken(#c8c8ca, 10%);
  font-size: 10px;
  display: block;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  margin-top: 15px;
  transition: all 0.5s ease-in-out;
  .fas {
    color: red;
    margin-right: 1px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
