$mobile: 300px;
$ipad: 768px;
@mixin mobile {
  @media (min-width: #{$mobile})  and (max-width : $ipad) {
    @content;
  }
}
@mixin ipad {
  @media (min-width: #{$ipad}) {
    @content;
  }
}
@mixin firefox-only {
  @at-root {
    @-moz-document url-prefix() {
      & {
        @content;
      }
    }
  }
}

.auth {
  display: flex;
  flex-flow: row wrap;
  padding: 10px 15px;
  background: url("../assets/curved.jpeg") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  .side {
    flex-basis: 50%;
    padding-left: 45px;
    display: block;

    padding-top: 40px;
    color: #fff;
    img {
      width: 150px;
      margin-left: 10px;

      @include mobile() {
        width: 200px;
      }
    }
    h3 {
      font-size: 1.6rem;
      padding: 5px;
      margin-left: 2px;
      font-family: "Roboto", sans-serif;
      letter-spacing: 1px;

      @include mobile() {
        font-size: 0.8rem;
        padding: 2px;
        margin-left: -44px;
        line-height: 22px;
        color: #000;
      }
    }
    div {
      &.text1 {
        display: block;
        padding: 5px;
        font-family: "Roboto", sans-serif;
        letter-spacing: 1px;
        font-size: 1.5rem;
        width: 260px;
        overflow: hidden;
        white-space: nowrap;
        border-right: 5px solid rgba(255, 255, 255, 0.8);
        margin-top: 20px;
        @include mobile() {
          display: none;
          color: #000;
        }
        em {
          margin-left: 5px;
        }
      }
      &.text2 {
        display: block;
        padding: 5px;
        font-family: "Roboto", sans-serif;
        letter-spacing: 1px;
        font-size: 1.5rem;
        width: 340px;
        overflow: hidden;
        white-space: nowrap;
        border-right: 5px solid rgba(255, 255, 255, 0.8);
        margin-top: 20px;
        @include mobile() {
          display: none;
          color: #000;
        }
        em {
          margin-left: 5px;
        }
      }
    }
    @include mobile() {
      height: 320px;
    }
  }

  .reg-form {
    flex-basis: 40%;
    padding: 40px 5px 0 15px;
    margin-left: -40px;

    form {
      padding: 5px;
      padding-left: 20px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;

      .w-40 {
        flex-basis: 50%;
        text-align: left;
        margin-bottom: 10px;
        @include mobile {
          text-align: center;
        }
        label {
          font-family: "Roboto", sans-serif;
          font-size: 12px;
          letter-spacing: 1px;
          display: block;
          padding: 5px;
          margin-bottom: 5px;
        }

        input[type="text"] {
          border: 1px solid #f0f0f0;
          background: #f6f6f6;
          padding: 5px;
          border-radius: 5px;
          height: 20px;
          outline: none;
          transition: border 0.6s;
          font-family: "Roboto", sans-serif;
        }
      }
      .w-80 {
        flex-basis: 100%;
        text-align: left;
        margin-bottom: 10px;
        @include mobile {
          text-align: center;
        }
        label {
          font-family: "Roboto", sans-serif;
          font-size: 12px;
          letter-spacing: 1px;
          display: block;
          padding: 5px;
          margin-bottom: 5px;
        }

        input[type="email"],
        input[type="password"] {
          border: 1px solid #f0f0f0;
          background: #f6f6f6;
          padding: 5px;
          border-radius: 5px;
          width: 80%;
          height: 20px;
          outline: none;
          transition: border 0.6s;
          font-family: "Roboto", sans-serif;
        }
      }
      .w-80 {
        flex-basis: 100%;
        text-align: left;
        margin-bottom: 10px;
        @include mobile {
          text-align: center;
        }
        label {
          font-family: "Roboto", sans-serif;
          font-size: 12px;
          letter-spacing: 1px;
          display: block;
          padding: 5px;
          margin-bottom: 5px;
        }
        select {
          width: 75%;
          border: 1px solid #f0f0f0;
          background: #f6f6f6;
          padding: 5px;
          border-radius: 5px;
          height: 30px;
          outline: none;
          transition: border 0.6s;
          font-family: "Roboto", sans-serif;
        }
      }
      input[type="email"]:focus,
      input[type="text"]:focus,
      input[type="password"]:focus,
      select:focus {
        border: 1px solid #158a9e;
      }
      .w-80 {
        flex-basis: 100%;
        text-align: left;
        margin-bottom: 10px;
        @include mobile {
          text-align: center;
        }
        button {
          width: 75%;
          background: #f9b500;
          padding: 10px 15px;
          border-radius: 5px;
          margin-bottom: 15px;
          margin-top: 23px;
          outline: none;
          transition: border 0.6s;
          border: none;
          letter-spacing: 1px;
          font-family: "Roboto", sans-serif;
          border: 1px solid #f9b500;
          cursor: pointer;
        }

        button:hover {
          background-color: transparent;
          color: #000;
          border: 2px solid #f9b500;
        }
      }
      .w-80 {
        flex-basis: 100%;
        text-align: left;
        margin-bottom: 10px;
        @include mobile {
          text-align: center;
        }

        &.back {
          padding: 10px;
          letter-spacing: 1px;
          font-family: "Roboto", sans-serif;
          .link {
            color: #f9b500;
          }
        }
      }
    }
    @include mobile() {
      text-align: center;
      padding-top: 5px;
    }
  }
  @include mobile() {
    background-image: none;
    display: block;
    padding: 10px 5px 0 15px;
  }
}
